<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Gedung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab (click)="addNewGedung()"  slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <ion-card *ngFor="let item of gedungs; let i = index">
      <ion-card-header>
        <ion-card-title>{{item.value.namaGedung}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{item.value.prodi}}
      </ion-card-content>

      <div class="container-button">
      <ion-button fill="clear" color="primary" (click)="updateGedung(item)">Edit</ion-button>
      <ion-button fill="clear"color="danger" (click)="delete(item.key)">Delete</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>