ion-button[color="dark"] {
    text-transform: initial;
}

ion-button[expand="block"] {
    margin-top: 24px;
    margin-bottom: 12px;
}

ion-item {
    margin-top: 16px;
}

.flex-center {
    position: relative;
    height: 70%;
}