<ion-content class="ion-padding">
  <h1>
    Register
  </h1>
  <p>Hello, Lets Get Started!</p>
  <div class="flex-center">
    <ion-card style="width: 90%">
      <ion-card-content>
        <ion-item fill="outline">
          <ion-label position="floating">Name</ion-label>
          <ion-input [(ngModel)]="nama" type="text" required></ion-input>
        </ion-item>
        <ion-item fill="outline">
          <ion-label position="floating">NIM</ion-label>
          <ion-input [(ngModel)]="nim" type="text" required></ion-input>
        </ion-item>
        <ion-item fill="outline">
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="email" type="email" ngModel email required></ion-input>
        </ion-item>
        <ion-item fill="outline">
            <ion-label position="floating">Prodi</ion-label>
            <ion-input [(ngModel)]="prodi" type="text" required></ion-input>
        </ion-item>
        <ion-button expand="block"[routerLink]="['/gedung']" routerLinkActive="router-link-active">Register</ion-button>
        <ion-button id="open-modal" expand="full" fill="clear" (click)="setOpen(true)">Tampilkan</ion-button>
      </ion-card-content>
  </ion-card>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Data</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>{{nama}}</p>
        <p>{{nim}}</p>
        <p>{{email}}</p>  
        <p>{{prodi}}</p>  
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>