<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ruangan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab  slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button [routerLink]="'/add-ruangan/' + id" routerLinkActive="router-link-active">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <ion-list *ngFor="let item of ruangans; let i = index" >
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h2>{{item.value.namaRuang}}</h2>
            <p>{{item.value.kapasitas}}</p>
          </ion-label>
        </ion-item>
        <ion-button fill="clear" color="primary" (click)="updateRuangan(item)">Edit</ion-button>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(item.key)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>