<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Edit Ruangan</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-align-self-center">
    <ion-item>
      <ion-label position="floating">Nama Ruangan</ion-label>
      <ion-input [(ngModel)]="namaR" type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Kapasitas</ion-label>
      <ion-input [(ngModel)]="kapasitasR" type="text">
      </ion-input>
    </ion-item>
    <ion-button class="ion-margin" expand="block" (click)="edit()">Save</ion-button>
  </ion-card>
</ion-content>